//공통
$main-color : #00bb9c;
$sub-color :#ffa600;
$gray-color: #d8d8d8;
$bg-color:#f5f6fa;
$border-color :#e5e8eb;
$main-txt: #111;
$red-txt : #f51a1a;
$blue-txt : #2a6cef;
$main-bg-txt : #fff;

::selection{background-color: $main-color;color: #fff;}

@mixin mainfont{
    font-family: "SUIT-Regular";
    font-weight: 300;
}
@mixin txtLight{
    font-weight: 100;
}
@mixin txtBold{
    font-weight: 700;
}
@mixin fontPoint{
    font-family: "CWDangamAsac-Bold";
}
@mixin txthide {
    text-indent: -5000000000000000px;
    overflow: hidden;
    font-size: 0px;
    text-align: left;
}
@mixin txtellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}
@mixin txtellipsisMulti($h:2.4rem, $lh:1.2rem, $l:2) {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $l;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    line-height: $lh;
    height: $h;
}
@mixin lineTxt(){    
    -webkit-text-stroke: 1px $main-txt;
    -webkit-text-fill-color: transparent;
}
@mixin lineTxtOn(){    
    -webkit-text-stroke: 0px $main-txt;
    -webkit-text-fill-color: $main-txt;
}
@mixin clear() {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}
@mixin centerAlign($mw:144rem){
    max-width: $mw;
    margin: 0 auto;
}
@mixin centerMob($w:8rem){
    width: calc(100% - $w);
}
@mixin centerPosition($t:50%,$l:50%,$tx:-50%,$ty:-50%){
    position: absolute;
    top: $t;
    left: $l;
    transform: translateX($tx) translateY($ty);
}
@mixin centerPositionMob(){
    position: inherit;
    top: 0;
    left: 0;
    transform: translate(0,0);
}
@mixin fullvh(){
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}
@mixin flex($j:space-between,$a:center){
    display: flex;
    justify-content: $j;
    align-items: $a;
    @content;
}
@mixin bgimg($s:100%,$p:center) {
    background-position: $p;
    background-repeat: no-repeat;
    background-size: $s;
}

@mixin virtualIcon($w:1rem, $h:1rem) {
    content: '';
    display: inline-block;
    width: $w;
    height: $h;
    vertical-align: middle;
    @include bgimg();
    @content;
}
@mixin customScroll($w:5px,$h:5px,$barcolor:$border-color,$bgrcolor:transparent){
    overflow: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: $w;
        height: $h;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $barcolor;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: $bgrcolor;
        border-radius: 5px;
    }
}
//animation
@keyframes ani-line {
    0% {
        height: 0;
    }
    100% {
        height:100%;
    }
}
@keyframes ani-width {
    0% {
        width:0%;
    }
    100% {
        width: 110%;
    }
}
@keyframes ani-height {
    0% {
        height: 100%;
    }
    100% {
        height:0%;
    }
}
@keyframes ani-textfill {
    0% {
        -webkit-text-stroke: 0px $main-bg-txt;
        -webkit-text-fill-color: $main-bg-txt;
    }
    100% {
        -webkit-text-stroke: 1px $main-bg-txt;
        -webkit-text-fill-color: transparent;
    }
}
@keyframes ani-textfill2 {
    0% {
        -webkit-text-stroke: 1px $sub-color;
        -webkit-text-fill-color: transparent;
    }
    100% {
        -webkit-text-stroke: 0px $sub-color;
        -webkit-text-fill-color: $sub-color;
    }
}
@keyframes ani-textindent {
    0% {
        text-indent: -100%;
    }
    100% {
        text-indent: 0%;
    }
}
@keyframes ani-textindent2 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes ani-opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes ani-rotate {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
@keyframes ani-rotate2 {
    0% {
        transform: rotate(0deg);
    }
    50%{        
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@mixin fadeCont($ty:100%){    
    transform: translateY($ty);
    opacity: 0;
}
@mixin aniFadeIn ($n,$s:1.5s,$d:0s,$t:translateY(50%),$t2:translateY(0%)) {
    @keyframes #{$n} {
        0% {
            transform : $t;
            opacity: 0;
        }
        100% {
            transform : $t2;
            opacity: 1;
        }
    }
    animation: #{$n} $s ease-in-out $d forwards;
}
@mixin aniFadeOut ($n,$s:1.5s,$d:0s,$t:translateY(0%),$t2:translateY(-50%)) {
    @keyframes #{$n} {
        0% {
            transform : $t;
            opacity: 1;
        }
        100% {
            transform : $t2;
            opacity: 0;
        }
    }
    animation: #{$n} $s ease-in-out $d forwards;
}
@keyframes ani-fadeinout {
    0% {
        transform : translateY(50%);
        opacity: 0;
    }
    30% {
        transform : translateY(0%);
        opacity: 1;
    }
    70%{
        transform : translateY(0%);
        opacity: 1;
    }
    100%{
        transform : translateY(-50%);
        opacity: 0;
    }
}

@mixin anitop ($n,$s:1.5s,$d:0s,$t:0%,$t2:20%) {
    @keyframes #{$n} {
        0% {
            top : $t;
        }
        100% {
            top : $t2;
        }
    }
    animation: #{$n} $s ease-in-out $d forwards;
}
                              
@keyframes cursor {
    0% { border-right: 2px solid transparent; }
    50% { border-right: 2px solid #fff; }
    100% { border-right: 2px solid transparent; }
}

body,input,select,textarea,button,a{
    color: $main-txt;
    @include mainfont();
}
body{
    touch-action: pan-x pan-y;
}
.red {
    color: #f00 !important;
}
.txt_red {
    color: $red-txt;
}
.txt_blue {
    color: $blue-txt;
}
.btn{
    display: inline-block;    
    padding: 0.8rem 0rem;
    border-radius: 3.2rem;
    @include fontPoint();
    background-color: #fff;
    color: $main-txt;
}
.playBtn{
    display: inline-block;
    font-size: 4.8rem;
    color: #fff;
    @include txtBold();
    vertical-align: middle;
    &::after{
        @include virtualIcon($w:4.8rem,$h:4.8rem){
            margin:-0.5rem 0 0 2.5rem;
            background-image: url('../images/btn_common_play.svg');  
            vertical-align: middle; 
         }
         transition: all 0.3s;
    }
    &:hover{
        &::after{
            background-image: url('../images/btn_common_play_hover.svg');
        }
    }
}
.pc_br{
    display: block;
}
.mob_br{
    display: none;
}
.container{ 
    position: relative;
    @include fullvh();
    overflow: hidden;
    .pageWrap{
        width: 100%;
        @include fullvh();
        transition-duration: 1.2s;
            .page{                
                position: relative;
                width: 100%;
                @include fullvh();
                overflow: hidden;
                .scrollBox{
                    width: 100%;
                    height: 100%;
                    overflow-y: auto;               
                    @include customScroll($w:0px);
                }
                .center{
                    @include centerAlign();
                }
        }    
    }
}

.progressBarBox{
    position: relative;
    height: 100%;
    .progressBar{
        position: sticky;
        top: calc(50% - 16rem + 9rem);
        left: calc(100% - 26rem);
        display: inline-block;
        width: 1rem;
        z-index: 500;
        &::before{
            position: absolute;
            left: 0;
            bottom: calc(120% + 5.5rem);
            display: block;
            width: 20rem;
            content: attr(data-progressname);
            @include fontPoint();
            transform: translate(-48.5%,  -50%) rotate(90deg);
            text-align: right;
            font-size: 1.6rem;
        }
        span{
            position: relative;
            display: block;
            height: 32rem;
            width: 0.1rem;
            background-color: $main-txt;
        }
        i{
            position: absolute;
            display: block;
            width: 100%;
            height: 0%;
            background-color: $main-color;
        }
    }
}


@media only screen and (min-width: 1920px){
    html,body{
        font-size: 10px;
    }

}
@media only screen and (max-width: 768px) {
    html,body{
        font-size: 1.5vw;
    }
    .center{
        @include centerMob($w:3rem);
    }
    .progressBarBox .progressBar{
        //display: none;
    }
}
@media only screen and (max-width: 600px) {
    html,body{
        font-size: 2.666666vw;
        //font-size: 4.267vw;
        //480기준 10px 1rem font-size: 2.08333vw;
        //360기준
        //font-size: 2.5vw;
    }
    .pc_br{
        display: none;
    }
    .mob_br{
        display: block;
    }
}