
@keyframes stroke {
    0%   {
        stroke:#fff;
        stroke-dashoffset: 120px;
    }
    10%,50%{
        stroke:#fff;
        stroke-dashoffset: 0px;
    }
    60%, 100%{
        stroke:transparent;
        stroke-dashoffset: 0px;

    }
}
section{
    min-height: 48.75rem;
    padding: 2rem 0 0;
    h2{
        @include center();
        margin-bottom: 1.25rem;
        font-size: 2rem;
        font-weight: 900;
        color: #555;
        @include vitro();
    }
    &.mainBox{
        position: relative;
        height: 380vh;  
        margin: 0 0 15px;
        box-shadow: 0px 15px 0px 0px rgba(0,0,0,0.3);
        .titleBox{
            height: calc(100vh - 4rem);
            min-height: 48.75rem;
            margin: 0 2rem 2rem;
            padding: 8rem 5rem 2rem;
            border-radius: 2rem;
            background-color: $main-color;
            color: #fff;
            transition:all 0.5s;
            overflow: hidden;
            h1{
                @include center();
                font-size: 3rem;
                font-weight: 900;
                line-height: 2;
                @include vitro();
                span{
                    display: block;
                }
                svg{
                    position: relative;
                    display: block;
                    text {
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 3rem;
                        fill:transparent;
                        stroke:transparent;
                        stroke-width: 1px;
                        stroke-dasharray: 160px;
                        animation: stroke 5s linear infinite;
                        animation-fill-mode: forwards;
                    }
                }        
                svg text:nth-child(1) {
                    animation-delay: 0s;
                }
                svg text:nth-child(2) {
                    animation-delay: 0.5s;
                }
                svg text:nth-child(3) {
                    animation-delay: 1s;
                }
                svg text:nth-child(4) {
                    animation-delay: 1.5s;
                }
                svg text:nth-child(5) {
                    animation-delay: 2s;
                }
                svg text:nth-child(6) {
                    animation-delay: 2.5s;
                }
    
            }
            ul{
                margin:8rem 0 0;
                li{
                    margin-bottom: 0.5rem;
                    &:nth-child(1){
                        margin-bottom: 1rem;
                    }
                    span{
                        display: inline-block;
                        width: 9rem;
                        margin: 0 1rem 0 0;
                        border-right: 1px solid rgba(255, 255, 255,0.5);
                    }
                }
            }
        }
        .sticky{
            position: absolute;
            top:40rem;
            left: 5rem;
            width: calc(100vw - 10em);
            h2{
                display: none;
            }
            .port-ul{
                display: table;
                table-layout: fixed;
                width: 100%;
                padding: 1.5rem 2rem 1.5rem;
                z-index: 10;
                color: #fff;
                li{
                    display: table-cell;
                    >span{
                        display: block;
                        height: 5.125rem;
                        padding: 1.5rem 1.25rem;
                        margin-left:1rem;
                        border-radius: 1rem;
                        border:1px solid #fff;
                        color: #fff;
                        font-weight: bold;
                        font-size: 1.25rem;
                        overflow: hidden;
                        cursor: pointer;
                        transition:all 0.4s;

                    }
                    &:nth-child(1)>span{
                        margin-left: 0;
                    }
                    .date{
                        float: right;
                        padding: 0.35rem 0 ;
                        font-size: 0.815rem;
                        font-weight: 300;
                    }
                    &.on{
                        &:nth-child(1)>span{
                            border: 1px solid #ee2c49;
                            background-color: #ee2c49;
                       }
                       &:nth-child(2)>span{
                           border: 1px solid #88b73a;
                           background-color: #88b73a;
                        }
                        &:nth-child(3)>span{
                            border: 1px solid #01b2b4;
                            background-color: #01b2b4;
                        }
                        &:nth-child(4)>span{
                            border: 1px solid #3667d0;
                            background-color: #3667d0;
                        }
                        &:nth-child(5)>span{
                            border: 1px solid $main-color;
                            background-color: $main-color;
                        }
                    }
                }
                &.on{
                    background-color: $bg-color2;
                   li>span{
                    background-color: #444;
                   }
                }
            }
            .port-boxes{
                position: relative;
                display: none;
                width: 100%;
                height: 100vh;
                min-height: 48.75rem;
                padding: 3rem 2rem;
                background-color: #fff;
                box-shadow: inset 0px 3px 3px 3px rgba(0,0,0,0.15);
                color: #333;
                .port-box{
                    @include center();
                    position: absolute;
                    top: 8rem;
                    left: 28rem;
                    height: 100%;
                    margin: 0 auto;
                    overflow: hidden;
                    opacity: 0;
                    z-index: 10;
                    transition: opacity 0.5s;
                    &.on{
                        opacity: 1;
                        z-index: 20;
                    }
                    h3{
                        margin:0 0 2.4rem;
                        font-size: 1.75rem;
                        @include vitro();
                    }
                    p{
                        height: 12rem;
                    }
                    
                    ul{
                        margin: 4.5rem 0 0 ;
                        li{
                            line-height: 1.5;
                           span{
                                position: relative;
                                font-weight: 700;
                                &::after{
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    content: '';
                                    display: block;                                    
                                    width: 100%;
                                    height: 0.5rem;
                                    background-color: #fdba1e;
                                    opacity: 0.5;
                                    z-index: -1;
                                }
                           }
                           &:last-child{
                                margin: 3rem 0 0 ;
                           }
                            .btn-area{                
                                a{
                                    position: relative;
                                    display: inline-block;
                                    padding: 0.8rem 6rem 0.8rem 1.2rem;
                                    margin: 0 1rem 0 0;
                                    border:1px solid #333;
                                    color: #333;
                                    font-weight: 700;
                                    @include beforeI($w:1.5rem,$h:1px){
                                        position: absolute;
                                        bottom: 1.2rem;
                                        right: 1rem;
                                        background-color: #333;
                                    }
                                    @include afterI($w:1px,$h:0.75rem){
                                        position: absolute;
                                        bottom: 1.2rem;
                                        right: 1.25rem;
                                        transform: skewX(40deg);
                                        background-color: #333;
                                    }
                                    &:hover{
                                        background-color: #333;
                                        color: #fff;
                                        &::before,&::after{
                                            background-color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        

        &.on{
            .titleBox{
               height: 40vh;
               min-height: auto;
            }
            .sticky{
                position: sticky;
                top: 0px;
                width: 100%; 
                .port-ul{
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    width: 21.875rem;
                    height: 100vh;
                    padding: 3rem 2rem;
                    display: block;
                    li{
                        display: block;
                        >span{
                            margin:  0 0 1.5rem;
                        }
                    }
                }
                .port-boxes{
                    display: block;
                }  
            }   
        }
    }
    &:nth-of-type(2){  
        background-color: $bg-color2;  
        h2{
            padding: 4rem 4rem 2.5rem;
            color: #fff;
            @include afterI($w:calc(100% - 7.8rem),$h:1px){
                background-color: #aaa;
                margin: -2rem 0 0 1rem;
            }
        }
        >div{
            position: relative;
            width: 100%;
            height: 35rem;
            padding: 2rem 0;
            overflow: hidden;
            .slide{
                position: absolute;
                height: 100%;
                display: flex;
                transition: all 1s linear;
                .slide-img{
                    display: inline-block;
                    height: 100%;
                }
            }

        }
    }
}
footer{
    padding: 3rem 0;
    text-align: center;
    color: #666;
    background-color: $bg-color2;
    address{
        display: inline;
        font-style: normal;
        @include beforeI($w:1px,$h:0.75rem ){
            background-color: #666;
            margin: 0px 0.5rem 0;
        }
    }
}