/* Date   : 2023.02.14 */
@font-face {
  font-family: "SpoqaL";
  src: url("../font/SpoqaHanSansNeo-Light.woff") format("woff");
}
@font-face {
  font-family: "SpoqaR";
  src: url("../font/SpoqaHanSansNeo-Regular.woff") format("woff");
}
@font-face {
  font-family: "SpoqaM";
  src: url("../font/SpoqaHanSansNeo-Medium.woff") format("woff");
}
@font-face {
  font-family: "SpoqaB";
  src: url("../font/SpoqaHanSansNeo-Bold.woff") format("woff");
}
@font-face {
  font-family: "vitro";
  src: url("../font/vitro.ttf") format("woff"), url("../font/vitro.ttf") format("ttf");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  word-break: keep-all;
  -webkit-box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: normal;
}

em, i {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
button:focus {
  outline: 1px solid rgba(0, 0, 0, 0.5);
}

input {
  outline: none;
  border: none;
  background: #fff;
}
input::-ms-clear {
  display: none;
}
input:-webkit-autofill {
  background: #fff;
  -webkit-text-fill-color: #333;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  min-width: 280px;
  font-size: 10px;
}

body {
  min-width: 280px;
  font-size: 1.6rem;
  line-height: 1;
  word-break: break-word;
}
body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: #6d6d6d;
  border-radius: 5px;
}
body::-webkit-scrollbar-track {
  background-color: #bebebe;
  border-radius: 5px;
}

::selection {
  background: #fdba1e;
  color: #fff;
}

body, input, select, textarea, button, a {
  color: #4d4f5c;
  font-family: "SpoqaR";
}

input {
  padding: 0.5rem 1rem;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label {
  font-family: "SpoqaR";
  cursor: pointer;
}
input[type=checkbox] + label::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  margin: -3px 0.5rem 0 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type=checkbox]:checked + label::before {
  background-color: #fdba1e;
  background-image: url("../image/icon_checkbox.svg");
  background-size: 55%;
  border: 1px solid #fdba1e;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 15rem;
  padding: 0.6rem 3.1rem 0.6rem 1.4rem;
  background-image: url("../../images/admin/ic_btn_down.png");
  background-position: right 1rem center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  border: 1px solid #e5e8eb;
  font-size: 1.4rem;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

.center {
  position: relative;
  max-width: 128rem;
  margin: 0 auto;
  clear: both;
}

.red {
  color: #f00 !important;
}

.txt_red {
  color: #f51a1a;
}

.txt_blue {
  color: #2a6cef;
}

.btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  text-align: center;
  border: 1px solid transparent;
}
.btn.btn_main {
  background-color: #fdba1e;
  color: #fff;
}
.btn.btn_sub {
  background-color: #12a6ac;
  color: #fff;
}
.btn.btn_gradient {
  background: -webkit-linear-gradient(-40deg, #fdba1e 47%, #ff9557 100%);
  background: -moz-linear-gradient(-40deg, #fdba1e 47%, #ff9557 100%);
  background: -o-linear-gradient(-40deg, #fdba1e 47%, #ff9557 100%);
  background: linear-gradient(-40deg, #fdba1e 47%, #ff9557 100%);
  color: #fff;
}
.btn.btn_line_main {
  border: 1px solid #fdba1e;
  color: #fdba1e;
}
.btn.btn_line_b {
  border: 1px solid #4d4f5c;
  color: #4d4f5c;
}
.btn.btn_square {
  border-radius: 0;
}
.btn.disabled {
  border: solid 1px #999 !important;
  background: #999 !important;
  color: #fff !important;
}

.loadingBlock {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10100;
}

@media only screen and (max-width: 768px) {
  .bottomFixedWrap {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 4rem;
    z-index: 1000;
  }
  .bottomFixedWrap > button, .bottomFixedWrap > a {
    flex: 1;
  }
  .bottomFixedWrap.hide {
    position: inherit;
  }
}
@media only screen and (max-width: 480px) {
  html, body {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 280px) {
  html, body {
    font-size: 12px;
  }
}
@keyframes stroke {
  0% {
    stroke: #fff;
    stroke-dashoffset: 120px;
  }
  10%, 50% {
    stroke: #fff;
    stroke-dashoffset: 0px;
  }
  60%, 100% {
    stroke: transparent;
    stroke-dashoffset: 0px;
  }
}
.bodyWrap {
  position: relative;
  min-width: 1280px;
  height: 100%;
  background-color: #f5f5f5;
  overflow: auto;
  transition: all 0.4s;
}
.bodyWrap::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.bodyWrap::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}
.bodyWrap::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}
.bodyWrap h1 {
  display: none;
}

.leftBox {
  position: fixed;
  top: 20px;
  left: 15px;
  width: 350px;
  height: calc(100% - 40px);
  border: 1px #e5e8eb solid;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.03);
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.5s;
}
.leftBox h2 {
  display: none;
}
.leftBox > div {
  padding: 10px 20px 30px;
  background: -webkit-linear-gradient(-40deg, #fdba1e 47%, #ff9557 100%);
  background: -moz-linear-gradient(-40deg, #fdba1e 47%, #ff9557 100%);
  background: -o-linear-gradient(-40deg, #fdba1e 47%, #ff9557 100%);
  background: linear-gradient(-40deg, #fdba1e 47%, #ff9557 100%);
  color: #fff;
  font-size: 25px;
  font-family: "vitro", sans-serif;
}
.leftBox > div svg {
  position: relative;
  display: block;
  padding: 0 0 10px;
}
.leftBox > div svg text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  fill: transparent;
  stroke: transparent;
  stroke-width: 1px;
  stroke-dasharray: 160px;
  animation: stroke 5s linear infinite;
  animation-fill-mode: forwards;
}
.leftBox > div svg text:nth-child(1) {
  animation-delay: 0s;
}
.leftBox > div svg text:nth-child(2) {
  animation-delay: 0.5s;
}
.leftBox > div svg text:nth-child(3) {
  animation-delay: 1s;
}
.leftBox > div svg text:nth-child(4) {
  animation-delay: 1.5s;
}
.leftBox > div svg text:nth-child(5) {
  animation-delay: 2s;
}
.leftBox > div svg text:nth-child(6) {
  animation-delay: 2.5s;
}
.leftBox > ul {
  width: 100%;
  height: 100%;
  padding: 30px 20px 120px;
  overflow-y: scroll;
}
.leftBox > ul::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.leftBox > ul::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}
.leftBox > ul::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}
.leftBox > ul > li {
  margin-bottom: 15px;
  font-size: 16px;
}
.leftBox > ul > li strong {
  position: relative;
  display: block;
  padding: 15px 20px;
  font-family: "SpoqaB";
  font-weight: normal;
  font-size: 14px;
  color: #12a6ac;
  background-color: #f5f6fa;
  border-radius: 20px;
  cursor: pointer;
}
.leftBox > ul > li strong::before, .leftBox > ul > li strong::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 1px;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 22px;
  background-color: #12a6ac;
}
.leftBox > ul > li strong::before {
  right: 29px;
  transform: rotate(135deg);
}
.leftBox > ul > li strong::after {
  right: 22px;
  transform: rotate(-135deg);
}
.leftBox > ul > li strong.active {
  background-color: #fdba1e;
  color: #fff;
}
.leftBox > ul > li strong.active::before, .leftBox > ul > li strong.active::after {
  background-color: #fff;
}
.leftBox > ul > li strong.active::before {
  transform: rotate(45deg);
}
.leftBox > ul > li strong.active::after {
  transform: rotate(-45deg);
}
.leftBox > ul > li div ul {
  padding: 10px;
}
.leftBox > ul > li div ul li {
  padding: 10px 0 0;
  line-height: 1.25;
}
.leftBox > ul > li.timeline div ul li {
  padding: 10px 0 0 5px;
}
.leftBox > ul > li.timeline div ul li span {
  display: block;
  margin: 0 0px 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #12a6ac;
}
.leftBox > ul > li.timeline div ul li span::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 12px;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  margin: -2px 5px 0 -5px;
  background-color: #12a6ac;
  opacity: 0.25;
}
.leftBox > ul > li.portfolio div ul li {
  cursor: pointer;
}
.leftBox > ul > li.portfolio div ul li::before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  margin: -3.8px 5px 0 0px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6.5px solid #e5e8eb;
}
.leftBox > ul > li.portfolio div ul li:hover {
  color: #12a6ac;
  font-family: "SpoqaB";
  font-weight: normal;
}
.leftBox > ul > li.portfolio div ul li:hover::before {
  border-left: 6.5px solid #fdba1e;
}

.rightBox {
  position: relative;
  left: 350px;
  width: calc(100% - 350px);
  padding: 30px;
  padding-bottom: 200px;
}
.rightBox h2 {
  padding: 10px 0 20px;
  font-size: 20px;
  font-family: "SpoqaB";
  font-weight: normal;
}
.rightBox .portBox {
  position: relative;
  padding: 30px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: solid 1px #e5e8eb;
  border-radius: 5px;
  overflow: hidden;
}
.rightBox .portBox::after {
  content: "";
  display: inline-block;
  width: 220px;
  height: 110px;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 75px;
  right: 30px;
  background-size: 100%;
  border-radius: 2px;
  overflow: hidden;
  border: 2px solid #4d4f5c;
}
.rightBox .portBox h3 {
  padding: 0 0 10px;
  border-bottom: 1px solid #e5e8eb;
  font-size: 20px;
  font-family: "SpoqaB";
  font-weight: normal;
}
.rightBox .portBox > span {
  position: absolute;
  right: -2px;
  bottom: -12px;
  font-size: 60px;
  color: #e5e8eb;
  font-family: "SpoqaB";
  font-weight: normal;
  opacity: 0.15;
}
.rightBox .portBox p {
  padding: 20px 0 15px;
  line-height: 1.5;
}
.rightBox .portBox > ul {
  padding: 0 0 20px;
}
.rightBox .portBox > ul li {
  line-height: 1.5;
  font-size: 14px;
}
.rightBox .portBox > ul li > span {
  position: relative;
  z-index: 1;
}
.rightBox .portBox > ul li > span::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  background-color: #12a6ac;
  opacity: 0.15;
  z-index: -1;
}
.rightBox .portBox .btnWrap {
  max-width: 70%;
}
.rightBox .portBox .btnWrap a {
  position: relative;
  display: inline-block;
  padding: 12px 60px 10px 20px;
  margin: 0 10px 10px 0;
  border: 1px solid #333;
  border-radius: 30px;
  color: #333;
  font-weight: 700;
  transition: all 0.3s;
}
.rightBox .portBox .btnWrap a::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1px;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #333;
}
.rightBox .portBox .btnWrap a::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0.75rem;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 16px;
  right: 17px;
  transform: skewX(40deg);
  background-color: #333;
}
.rightBox .portBox .btnWrap a span {
  display: inline-block;
  width: 0;
  height: 0;
  font-size: 0.75rem;
  font-weight: normal;
  color: #ccc;
  vertical-align: bottom;
  overflow: hidden;
}
.rightBox .portBox .btnWrap a:hover {
  background-color: #333;
  color: #fff;
}
.rightBox .portBox .btnWrap a:hover::before, .rightBox .portBox .btnWrap a:hover::after {
  background-color: #fff;
}
.rightBox .portBox .btnWrap a:hover span {
  width: auto;
  height: auto;
}
.rightBox .portBox[data-portname=kpc]::after {
  background-image: url(../image/img_port_kpc.png);
}
.rightBox .portBox[data-portname=kpc] > ul li > span::after {
  background-color: #ee2c49;
}
.rightBox .portBox[data-portname=kpc] > span {
  color: #ee2c49;
}
.rightBox .portBox[data-portname=mobon]::after {
  background-image: url(../image/img_port_mobon.png);
}
.rightBox .portBox[data-portname=mobon] > ul li > span::after {
  background-color: #8cc331;
}
.rightBox .portBox[data-portname=mobon] > span {
  color: #8cc331;
}
.rightBox .portBox[data-portname=bigstock]::after {
  background-image: url(../image/img_port_bigstock.png);
}
.rightBox .portBox[data-portname=bigstock] > ul li > span::after {
  background-color: #0659ff;
}
.rightBox .portBox[data-portname=bigstock] > span {
  color: #0659ff;
}
.rightBox .portBox[data-portname="1pay"]::after {
  background-image: url(../image/img_port_1pay.png);
}
.rightBox .portBox[data-portname="1pay"] > ul li > span::after {
  background-color: #ffc600;
}
.rightBox .portBox[data-portname="1pay"] > span {
  color: #ffc600;
}
.rightBox .portBox[data-portname=mobwith]::after {
  background-image: url(../image/img_port_mobwith.png);
}
.rightBox .portBox[data-portname=mobwith] > ul li > span::after {
  background-color: #8cc331;
}
.rightBox .portBox[data-portname=mobwith] > span {
  color: #8cc331;
}
.rightBox .portBox[data-portname=hlcash]::after {
  background-image: url(../image/img_port_hlcash.png);
}
.rightBox .portBox[data-portname=hlcash] > ul li > span::after {
  background-color: #9013fe;
}
.rightBox .portBox[data-portname=hlcash] > span {
  color: #9013fe;
}
.rightBox .portBox[data-portname=lead]::after {
  background-image: url(../image/img_port_lead.png);
}
.rightBox .portBox[data-portname=lead] > ul li > span::after {
  background-color: #4374c5;
}
.rightBox .portBox[data-portname=lead] > span {
  color: #4374c5;
}
.rightBox .portBox[data-portname=design]::after {
  display: none;
}
.rightBox .portBox[data-portname=design] > div {
  position: relative;
  width: 100%;
  height: 35rem;
  padding: 2rem 0;
  overflow: hidden;
}
.rightBox .portBox[data-portname=design] > div .slide {
  position: absolute;
  height: 100%;
  display: flex;
  transition: all 1s linear;
}
.rightBox .portBox[data-portname=design] > div .slide .slide-img {
  display: inline-block;
  height: 100%;
  cursor: grab;
}/*# sourceMappingURL=style.css.map */