@charset "UTF-8";
/* Reset Stylesheet */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "vitro";
  src: url("../font/vitro.ttf") format("woff"), url("../font/vitro.ttf") format("ttf");
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, button, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
  min-width: 280px;
  font-size: 16px;
}

body {
  height: 100%;
  color: #333;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: #6d6d6d;
  border-radius: 5px;
}
body::-webkit-scrollbar-track {
  background-color: #bebebe;
  border-radius: 5px;
}

nav, ul, ul li, ol, ol li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: #333;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table th {
  vertical-align: middle;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

caption, legend, figcaption {
  display: none;
}

img {
  -ms-interpolation-mode: bicubic;
}

::-moz-selection {
  background-color: #fff;
  color: #fdba1e;
}

::selection {
  background-color: #fff;
  color: #fdba1e;
}

.sr_only {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.pc_only {
  display: inline-block;
}

.mob_only {
  display: none;
}

@-webkit-keyframes stroke {
  0% {
    stroke: #fff;
    stroke-dashoffset: 120px;
  }
  10%, 50% {
    stroke: #fff;
    stroke-dashoffset: 0px;
  }
  60%, 100% {
    stroke: transparent;
    stroke-dashoffset: 0px;
  }
}

@keyframes stroke {
  0% {
    stroke: #fff;
    stroke-dashoffset: 120px;
  }
  10%, 50% {
    stroke: #fff;
    stroke-dashoffset: 0px;
  }
  60%, 100% {
    stroke: transparent;
    stroke-dashoffset: 0px;
  }
}
section {
  min-height: 48.75rem;
  padding: 2rem 0 0;
}
section h2 {
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  font-size: 2rem;
  font-weight: 900;
  color: #555;
  font-family: "vitro", "Noto Sans KR", sans-serif;
}
section.mainBox {
  position: relative;
  height: 380vh;
  margin: 0 0 15px;
  box-shadow: 0px 15px 0px 0px rgba(0, 0, 0, 0.3);
}
section.mainBox .titleBox {
  height: calc(100vh - 4rem);
  min-height: 48.75rem;
  margin: 0 2rem 2rem;
  padding: 8rem 5rem 2rem;
  border-radius: 2rem;
  background-color: #fdba1e;
  color: #fff;
  transition: all 0.5s;
  overflow: hidden;
}
section.mainBox .titleBox h1 {
  max-width: 1920px;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 900;
  line-height: 2;
  font-family: "vitro", "Noto Sans KR", sans-serif;
}
section.mainBox .titleBox h1 span {
  display: block;
}
section.mainBox .titleBox h1 svg {
  position: relative;
  display: block;
}
section.mainBox .titleBox h1 svg text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  fill: transparent;
  stroke: transparent;
  stroke-width: 1px;
  stroke-dasharray: 160px;
  -webkit-animation: stroke 5s linear infinite;
          animation: stroke 5s linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
section.mainBox .titleBox h1 svg text:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
section.mainBox .titleBox h1 svg text:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
section.mainBox .titleBox h1 svg text:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
section.mainBox .titleBox h1 svg text:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
section.mainBox .titleBox h1 svg text:nth-child(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
section.mainBox .titleBox h1 svg text:nth-child(6) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
section.mainBox .titleBox ul {
  margin: 8rem 0 0;
}
section.mainBox .titleBox ul li {
  margin-bottom: 0.5rem;
}
section.mainBox .titleBox ul li:nth-child(1) {
  margin-bottom: 1rem;
}
section.mainBox .titleBox ul li span {
  display: inline-block;
  width: 9rem;
  margin: 0 1rem 0 0;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
section.mainBox .sticky {
  position: absolute;
  top: 40rem;
  left: 5rem;
  width: calc(100vw - 10em);
}
section.mainBox .sticky h2 {
  display: none;
}
section.mainBox .sticky .port-ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 1.5rem 2rem 1.5rem;
  z-index: 10;
  color: #fff;
}
section.mainBox .sticky .port-ul li {
  display: table-cell;
}
section.mainBox .sticky .port-ul li > span {
  display: block;
  height: 5.125rem;
  padding: 1.5rem 1.25rem;
  margin-left: 1rem;
  border-radius: 1rem;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s;
}
section.mainBox .sticky .port-ul li:nth-child(1) > span {
  margin-left: 0;
}
section.mainBox .sticky .port-ul li .date {
  float: right;
  padding: 0.35rem 0;
  font-size: 0.815rem;
  font-weight: 300;
}
section.mainBox .sticky .port-ul li.on:nth-child(1) > span {
  border: 1px solid #ee2c49;
  background-color: #ee2c49;
}
section.mainBox .sticky .port-ul li.on:nth-child(2) > span {
  border: 1px solid #88b73a;
  background-color: #88b73a;
}
section.mainBox .sticky .port-ul li.on:nth-child(3) > span {
  border: 1px solid #01b2b4;
  background-color: #01b2b4;
}
section.mainBox .sticky .port-ul li.on:nth-child(4) > span {
  border: 1px solid #3667d0;
  background-color: #3667d0;
}
section.mainBox .sticky .port-ul li.on:nth-child(5) > span {
  border: 1px solid #fdba1e;
  background-color: #fdba1e;
}
section.mainBox .sticky .port-ul.on {
  background-color: #333;
}
section.mainBox .sticky .port-ul.on li > span {
  background-color: #444;
}
section.mainBox .sticky .port-boxes {
  position: relative;
  display: none;
  width: 100%;
  height: 100vh;
  min-height: 48.75rem;
  padding: 3rem 2rem;
  background-color: #fff;
  box-shadow: inset 0px 3px 3px 3px rgba(0, 0, 0, 0.15);
  color: #333;
}
section.mainBox .sticky .port-boxes .port-box {
  max-width: 1920px;
  margin: 0 auto;
  position: absolute;
  top: 8rem;
  left: 28rem;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.5s;
}
section.mainBox .sticky .port-boxes .port-box.on {
  opacity: 1;
  z-index: 20;
}
section.mainBox .sticky .port-boxes .port-box h3 {
  margin: 0 0 2.4rem;
  font-size: 1.75rem;
  font-family: "vitro", "Noto Sans KR", sans-serif;
}
section.mainBox .sticky .port-boxes .port-box p {
  height: 12rem;
}
section.mainBox .sticky .port-boxes .port-box ul {
  margin: 4.5rem 0 0;
}
section.mainBox .sticky .port-boxes .port-box ul li {
  line-height: 1.5;
}
section.mainBox .sticky .port-boxes .port-box ul li span {
  position: relative;
  font-weight: 700;
}
section.mainBox .sticky .port-boxes .port-box ul li span::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 0.5rem;
  background-color: #fdba1e;
  opacity: 0.5;
  z-index: -1;
}
section.mainBox .sticky .port-boxes .port-box ul li:last-child {
  margin: 3rem 0 0;
}
section.mainBox .sticky .port-boxes .port-box ul li .btn-area a {
  position: relative;
  display: inline-block;
  padding: 0.8rem 6rem 0.8rem 1.2rem;
  margin: 0 1rem 0 0;
  border: 1px solid #333;
  color: #333;
  font-weight: 700;
}
section.mainBox .sticky .port-boxes .port-box ul li .btn-area a::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1px;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 1.2rem;
  right: 1rem;
  background-color: #333;
}
section.mainBox .sticky .port-boxes .port-box ul li .btn-area a::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0.75rem;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 1.2rem;
  right: 1.25rem;
  transform: skewX(40deg);
  background-color: #333;
}
section.mainBox .sticky .port-boxes .port-box ul li .btn-area a:hover {
  background-color: #333;
  color: #fff;
}
section.mainBox .sticky .port-boxes .port-box ul li .btn-area a:hover::before, section.mainBox .sticky .port-boxes .port-box ul li .btn-area a:hover::after {
  background-color: #fff;
}
section.mainBox.on .titleBox {
  height: 40vh;
  min-height: auto;
}
section.mainBox.on .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
}
section.mainBox.on .sticky .port-ul {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 21.875rem;
  height: 100vh;
  padding: 3rem 2rem;
  display: block;
}
section.mainBox.on .sticky .port-ul li {
  display: block;
}
section.mainBox.on .sticky .port-ul li > span {
  margin: 0 0 1.5rem;
}
section.mainBox.on .sticky .port-boxes {
  display: block;
}
section:nth-of-type(2) {
  background-color: #333;
}
section:nth-of-type(2) h2 {
  padding: 4rem 4rem 2.5rem;
  color: #fff;
}
section:nth-of-type(2) h2::after {
  content: "";
  display: inline-block;
  width: calc(100% - 7.8rem);
  height: 1px;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #aaa;
  margin: -2rem 0 0 1rem;
}
section:nth-of-type(2) > div {
  position: relative;
  width: 100%;
  height: 35rem;
  padding: 2rem 0;
  overflow: hidden;
}
section:nth-of-type(2) > div .slide {
  position: absolute;
  height: 100%;
  display: flex;
  transition: all 1s linear;
}
section:nth-of-type(2) > div .slide .slide-img {
  display: inline-block;
  height: 100%;
}

footer {
  padding: 3rem 0;
  text-align: center;
  color: #666;
  background-color: #333;
}
footer address {
  display: inline;
  font-style: normal;
}
footer address::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0.75rem;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #666;
  margin: 0px 0.5rem 0;
}

/*타블렛*/
/*모바일*/
@media only screen and (max-width: 768px) {
  html, body {
    font-size: 4.267vw;
  }
  .pc_only {
    display: none;
  }
  .mob_only {
    display: inline-block;
  }
}
@media only screen and (max-width: 280px) {
  html, body {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */