@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CWDangamAsac-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ol li,
ul li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

span {
  vertical-align: middle;
}

strong {
  font-weight: normal;
}

em, i {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  background: #fff;
}
input::-ms-clear {
  display: none;
}
input:-webkit-autofill {
  background: #fff;
  -webkit-text-fill-color: #333;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 0.52vw;
}

body {
  min-width: 280px;
  font-size: 1.6rem;
  line-height: 1;
  word-break: break-word;
  -webkit-overflow-scrolling: touch;
}

::-moz-selection {
  background-color: #00bb9c;
  color: #fff;
}

::selection {
  background-color: #00bb9c;
  color: #fff;
}

@-webkit-keyframes ani-width {
  0% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}

@keyframes ani-width {
  0% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}
@-webkit-keyframes ani-textfill {
  0% {
    -webkit-text-stroke: 0px #fff;
    -webkit-text-fill-color: #fff;
  }
  100% {
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes ani-textfill {
  0% {
    -webkit-text-stroke: 0px #fff;
    -webkit-text-fill-color: #fff;
  }
  100% {
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
  }
}
@-webkit-keyframes ani-textfill2 {
  0% {
    -webkit-text-stroke: 1px #ffa600;
    -webkit-text-fill-color: transparent;
  }
  100% {
    -webkit-text-stroke: 0px #ffa600;
    -webkit-text-fill-color: #ffa600;
  }
}
@keyframes ani-textfill2 {
  0% {
    -webkit-text-stroke: 1px #ffa600;
    -webkit-text-fill-color: transparent;
  }
  100% {
    -webkit-text-stroke: 0px #ffa600;
    -webkit-text-fill-color: #ffa600;
  }
}
@-webkit-keyframes ani-textindent {
  0% {
    text-indent: -100%;
  }
  100% {
    text-indent: 0%;
  }
}
@keyframes ani-textindent {
  0% {
    text-indent: -100%;
  }
  100% {
    text-indent: 0%;
  }
}
@-webkit-keyframes ani-loop {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes ani-loop {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@-webkit-keyframes ani-loop2 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes ani-loop2 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes cursor {
  0% {
    border-right: 2px solid transparent;
  }
  50% {
    border-right: 2px solid #fff;
  }
  100% {
    border-right: 2px solid transparent;
  }
}
@keyframes cursor {
  0% {
    border-right: 2px solid transparent;
  }
  50% {
    border-right: 2px solid #fff;
  }
  100% {
    border-right: 2px solid transparent;
  }
}
body, input, select, textarea, button, a {
  color: #111;
  font-family: "SUIT-Regular";
  font-weight: 300;
}

body {
  -ms-touch-action: pan-x pan-y;
      touch-action: pan-x pan-y;
}

.red {
  color: #f00 !important;
}

.txt_red {
  color: #f51a1a;
}

.txt_blue {
  color: #2a6cef;
}

.btn {
  display: inline-block;
  padding: 0.8rem 0rem;
  border-radius: 3.2rem;
  font-family: "CWDangamAsac-Bold";
  background-color: #fff;
  color: #111;
}

.pc_br {
  display: block;
}

.mob_br {
  display: none;
}

@media only screen and (min-width: 1920px) {
  html, body {
    font-size: 10px;
  }
}
@media only screen and (max-width: 768px) {
  html, body {
    font-size: 1.5vw;
  }
  .center {
    width: calc(100% - 3rem);
  }
}
@media only screen and (max-width: 600px) {
  html, body {
    font-size: 2.666666vw;
  }
  .pc_br {
    display: none;
  }
  .mob_br {
    display: block;
  }
}
header {
  position: fixed;
  top: 8rem;
  left: 0;
  width: 100%;
  z-index: 1;
}
header .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  max-width: 144rem;
  margin: 0 auto;
}
header .center span, header .center button {
  display: block;
  color: #111;
  font-size: 3rem;
  line-height: 1.8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
header .center h1 span {
  font-family: "CWDangamAsac-Bold";
}
header .center h1 span:hover {
  color: #00bb9c;
}
header .center .pageMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  z-index: 4500;
}
header .center .pageMenu li {
  position: relative;
}
header .center .pageMenu li:hover span, header .center .pageMenu li:hover button {
  position: relative;
  font-weight: 700;
  z-index: 5;
}
header .center .pageMenu li:hover:after {
  position: absolute;
  bottom: 5%;
  left: -5%;
  content: "";
  display: block;
  height: 3rem;
  background-color: #00bb9c;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  z-index: 1;
  opacity: 0.5;
  -webkit-animation: ani-width 0.2s ease-in-out 0s forwards;
          animation: ani-width 0.2s ease-in-out 0s forwards;
}
header.white .center span, header.white .center button {
  color: #fff;
}

footer {
  height: auto !important;
  min-height: 0 !important;
  background-color: #fff;
}
footer .center .copyright {
  padding: 5rem 0;
  font-size: 1.6rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  header {
    top: 3rem;
  }
  header .center span, header .center button {
    font-size: 1.6rem;
  }
  header .center .pageMenu {
    gap: 1rem;
  }
  footer .center .copyright {
    font-size: 1rem;
  }
}
.container {
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}
.container .pageWrap {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
}
.container .pageWrap .page {
  position: relative;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}
.container .pageWrap .page .scrollBox {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow: hidden;
  overflow-y: auto;
}
.container .pageWrap .page .scrollBox::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}
.container .pageWrap .page .scrollBox::-webkit-scrollbar-thumb {
  background-color: #e5e8eb;
  border-radius: 5px;
}
.container .pageWrap .page .scrollBox::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}
.container .pageWrap .page .center {
  max-width: 144rem;
  margin: 0 auto;
}

.progressBarBox {
  position: relative;
  height: 100%;
}
.progressBarBox .progressBar {
  position: sticky;
  top: calc(50% - 16rem + 9rem);
  left: calc(100% - 26rem);
  display: inline-block;
  width: 1rem;
  z-index: 500;
}
.progressBarBox .progressBar::before {
  position: absolute;
  left: 0;
  bottom: calc(120% + 5.5rem);
  display: block;
  width: 20rem;
  content: attr(data-progressname);
  font-family: "CWDangamAsac-Bold";
  -webkit-transform: translate(-48.5%, -50%) rotate(90deg);
          transform: translate(-48.5%, -50%) rotate(90deg);
  text-align: right;
  font-size: 1.6rem;
}
.progressBarBox .progressBar span {
  position: relative;
  display: block;
  height: 32rem;
  width: 0.1rem;
  background-color: #00bb9c;
}
.progressBarBox .progressBar i {
  position: absolute;
  display: block;
  width: 100%;
  height: 0%;
  background-color: #ffa600;
}

.main .main01::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../image/main_bg01.jpg);
  -webkit-filter: blur(3px) grayscale(1);
          filter: blur(3px) grayscale(1);
}
.main .main01::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 100%;
  height: 30%;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background: rgb(255, 255, 255);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
}
.main .main01 .scrollBox .center {
  position: relative;
  height: 100%;
}
.main .main01 .scrollBox p {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
}
.main .main01 .scrollBox p::after {
  content: "";
  display: inline-block;
  width: 7rem;
  height: 0.9rem;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 4.8rem 0 0 -3rem;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(90deg) skew(225deg);
          transform: rotate(90deg) skew(225deg);
  opacity: 0;
  -webkit-animation: main01-05 1.2s ease-in-out 7.5s forwards;
          animation: main01-05 1.2s ease-in-out 7.5s forwards;
}
@-webkit-keyframes main01-05 {
  0% {
    -webkit-transform: rotate(90deg) skew(225deg) translateX(-50%);
            transform: rotate(90deg) skew(225deg) translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(90deg) skew(225deg) translateX(0%);
            transform: rotate(90deg) skew(225deg) translateX(0%);
    opacity: 1;
  }
}
@keyframes main01-05 {
  0% {
    -webkit-transform: rotate(90deg) skew(225deg) translateX(-50%);
            transform: rotate(90deg) skew(225deg) translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(90deg) skew(225deg) translateX(0%);
            transform: rotate(90deg) skew(225deg) translateX(0%);
    opacity: 1;
  }
}
.main .main01 .scrollBox p span {
  position: relative;
  display: block;
  color: #fff;
  font-size: 10.4rem;
  font-family: "CWDangamAsac-Bold";
  -webkit-animation: ani-textfill 1s ease-in-out 7s forwards;
          animation: ani-textfill 1s ease-in-out 7s forwards;
}
.main .main01 .scrollBox p span::after {
  content: "";
  margin-left: 0.5rem;
  border-right: 2px solid transparent;
  -webkit-animation: cursor 1s infinite 0s;
          animation: cursor 1s infinite 0s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}
.main .main01 .scrollBox p span:nth-of-type(2) {
  padding-top: 3rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #ffa600;
  -webkit-animation: ani-textfill2 1s ease-in-out 7s forwards;
          animation: ani-textfill2 1s ease-in-out 7s forwards;
}
.main .main01 .scrollBox p span:nth-of-type(2)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}
.main .main01 .scrollBox p span:nth-of-type(3)::after {
  margin-left: 1rem;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.main .main02 h2 {
  display: none;
}
.main .main02 .animateRow {
  position: sticky;
  top: 75%;
  left: -15%;
  font-family: "CWDangamAsac-Bold";
  font-size: 10rem;
  color: #d8d8d8;
  opacity: 0.3;
}
.main .main02 .animateRow span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  word-break: keep-all;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.main .main02 .animateRow span:nth-child(1) {
  -webkit-animation: ani-loop 50s linear infinite;
          animation: ani-loop 50s linear infinite;
}
.main .main02 .animateRow span:nth-child(2) {
  -webkit-animation: ani-loop2 50s linear infinite;
          animation: ani-loop2 50s linear infinite;
}
.main .main02 .center {
  height: 5000px;
}
.main .main02 .center .animateFadeList {
  position: sticky;
  top: calc(50% - 30vh);
  width: 95%;
  min-height: 60vh;
}
.main .main02 .center .animateFadeList > li {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  line-height: 1.5;
  list-style: none;
  z-index: 1;
}
.main .main02 .center .animateFadeList > li .fadeCont {
  gap: 3rem;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}
.main .main02 .center .animateFadeList > li .fadeCont img {
  position: absolute;
  top: 10%;
  left: 0;
  display: inline-block;
  max-width: 40%;
  border-top: 2rem solid #d8d8d8;
  border-bottom: 1rem solid #d8d8d8;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.main .main02 .center .animateFadeList > li .fadeCont .txtBox {
  position: absolute;
  top: 30%;
  right: 0;
  width: 65%;
  height: 40rem;
  padding: 5rem;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #111;
  border-radius: 2rem;
}
.main .main02 .center .animateFadeList > li .fadeCont .txtBox > div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 1rem;
}
.main .main02 .center .animateFadeList > li .fadeCont .txtBox > div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
}
.main .main02 .center .animateFadeList > li .fadeCont .txtBox h3 {
  font-size: 3rem;
  font-weight: 700;
}
.main .main02 .center .animateFadeList > li .fadeCont .txtBox h3 + span {
  color: #d8d8d8;
}
.main .main02 .center .animateFadeList > li .fadeCont .txtBox p {
  max-width: 90%;
  font-weight: 100;
}
.main .main02 .center .animateFadeList > li .fadeCont .txtBox ul li {
  display: inline-block;
  margin-right: 1rem;
}
.main .main02 .center .animateFadeList > li .fadeCont .txtBox ul li::before {
  display: inline-block;
  content: "#";
  color: #ffa600;
  vertical-align: middle;
}
.main .main02 .center .animateFadeList > li .fadeCont .txtBox ul li span {
  color: #ffa600;
}
.main .main02 .center .animateFadeList > li .fadeCont .txtBox .btnWrap {
  position: absolute;
  top: -3rem;
  right: -1.8rem;
  margin-top: 2rem;
}
.main .main02 .center .animateFadeList > li .fadeCont .txtBox .btnWrap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13rem;
  height: 13rem;
  padding: 1rem;
  margin-top: -1.5rem;
  background-color: #ffa600;
  color: #fff;
  border-radius: 50%;
  font-size: 2.3rem;
  text-align: center;
  word-break: keep-all;
  line-height: 1.2;
  mix-blend-mode: multiply;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main .main02 .center .animateFadeList > li .fadeCont .txtBox .btnWrap a:hover {
  background-color: #111;
}
.main .main02 .center .animateFadeList > li .fadeCont .txtBox .btnWrap a:nth-child(even) {
  background-color: #00bb9c;
}
.main .main02 .center .animateFadeList > li .fadeCont .txtBox .btnWrap a:nth-child(even):hover {
  border: 1px solid #111;
  background-color: #fff;
  color: #111;
}
.main .main02 .center .animateFadeList > li:nth-child(even) .fadeCont img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.main .main02 .center .animateFadeList > li:nth-child(even) .fadeCont .txtBox {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.main .main02 .center .animateFadeList > li.now {
  z-index: 10;
}
.main .main02 .center .animateFadeList > li.start::before, .main .main02 .center .animateFadeList > li.start::after, .main .main02 .center .animateFadeList > li.start .fadeCont {
  -webkit-animation: solution-01 0.8s ease-in-out 1.3s forwards;
          animation: solution-01 0.8s ease-in-out 1.3s forwards;
}
@-webkit-keyframes solution-01 {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes solution-01 {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
.main .main02 .center .animateFadeList > li .wheelup.active {
  -webkit-animation: main02-02 0.8s ease-in-out 0s forwards;
          animation: main02-02 0.8s ease-in-out 0s forwards;
}
@-webkit-keyframes main02-02 {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
}
@keyframes main02-02 {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
}
.main .main02 .center .animateFadeList > li .wheelup.next {
  -webkit-animation: main02-01 0.8s ease-in-out 0.5s forwards;
          animation: main02-01 0.8s ease-in-out 0.5s forwards;
}
@-webkit-keyframes main02-01 {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes main02-01 {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
.main .main02 .center .animateFadeList > li .wheeldown.prev {
  -webkit-animation: main02-04 0.8s ease-in-out 0s forwards;
          animation: main02-04 0.8s ease-in-out 0s forwards;
}
@-webkit-keyframes main02-04 {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
}
@keyframes main02-04 {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
}
.main .main02 .center .animateFadeList > li .wheeldown.active {
  -webkit-animation: main02-03 0.8s ease-in-out 0.5s forwards;
          animation: main02-03 0.8s ease-in-out 0.5s forwards;
}
@-webkit-keyframes main02-03 {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes main02-03 {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
.main .main03 {
  background-color: #1a1a1a;
}
.main .main03 h2 {
  font-family: "CWDangamAsac-Bold";
  font-size: 5rem;
  color: #fff;
  opacity: 0.7;
}
.main .main03 .center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 95%;
}
.main .main03 .center ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  width: 100%;
}
.main .main03 .center ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 30rem;
  border-radius: 1rem;
  border: 2px double #00bb9c;
}
.main .main03 .center ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 5rem;
  font-weight: 700;
  font-family: "CWDangamAsac-Bold";
  text-align: center;
  color: #00bb9c;
}
.main .main03 .center ul li:nth-child(1) {
  border-color: #ffa600;
}
.main .main03 .center ul li:nth-child(1) a {
  color: #ffa600;
}
.main .main03 .center ul li:hover {
  background-color: #00bb9c;
}
.main .main03 .center ul li:hover a {
  color: #fff;
}
.main .main03 .center ul li:hover:nth-child(1) {
  background-color: #ffa600;
}
.main .main03 .center ul li:hover:nth-child(1) a {
  color: #fff;
}
.main .main03 .center p {
  padding: 5rem 0 0;
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
}
.main .main04 {
  background-color: #00bb9c;
}
.main .main04::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../image/bgchk.png);
  background-size: 0.5%;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  opacity: 0.3;
}
.main .main04 .center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border: 10px solid #ffa600;
  background-color: #fff;
}
.main .main04 .center h2 {
  font-family: "CWDangamAsac-Bold";
  font-size: 3rem;
  color: #ffa600;
}
.main .main04 .center > div {
  border-top: 1px solid #ffa600;
  font-size: 2rem;
}
.main .main04 .center > div strong {
  display: block;
  color: #ffa600;
  border-bottom: 1px dashed #ffa600;
}
.main .main04 .center > div ul li {
  font-weight: 100;
}
.main .main04 .center > div ul li span {
  display: inline-block;
  margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
  .progressBarBox .progressBar {
    top: 67%;
    left: 50%;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .progressBarBox .progressBar::before {
    display: none;
  }
  .progressBarBox .progressBar span {
    width: 1rem;
  }
  .main .main01::before {
    background-size: auto 100%;
  }
  .main .main01 .scrollBox p {
    position: inherit;
    top: 30%;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .main .main01 .scrollBox p span {
    font-size: 5rem;
    line-height: 1.25;
  }
  .main .main02 .animateRow span {
    -webkit-animation-duration: 10s !important;
            animation-duration: 10s !important;
  }
  .main .main02 .center .animateFadeList > li .fadeCont img {
    top: -10%;
    max-width: 80%;
  }
  .main .main02 .center .animateFadeList > li .fadeCont .txtBox {
    top: 10%;
    width: 95%;
    height: 35rem;
    max-height: 48vh;
    padding: 4rem 1.5rem 3em 3rem;
  }
  .main .main02 .center .animateFadeList > li .fadeCont .txtBox > div:nth-of-type(1) {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .main .main02 .center .animateFadeList > li .fadeCont .txtBox h3 {
    font-size: 2.2rem;
  }
  .main .main02 .center .animateFadeList > li .fadeCont .txtBox p {
    font-size: 1.3rem;
  }
  .main .main02 .center .animateFadeList > li .fadeCont .txtBox ul > li {
    display: block;
    margin: 0;
    font-size: 1.3rem;
  }
  .main .main02 .center .animateFadeList > li .fadeCont .txtBox .btnWrap {
    top: 90%;
    right: -1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .main02 .center .animateFadeList > li .fadeCont .txtBox .btnWrap a {
    width: 9.3rem;
    height: 9.3rem;
    font-size: 1.6rem;
    margin: 0 -1rem 0 0;
  }
  .main .main04::before {
    background-size: 10%;
  }
  .main .main04 .center > div {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=style.css.map */