@charset "utf-8";
@import "reset.scss";    
@import "main.scss"; 
/*타블렛*/ 
@media only screen and (max-width: 1260px) and (min-width: 769px){

}
 
/*모바일*/    
@media only screen and (max-width: 768px){ 
    html, body {
        font-size: 4.267vw;
    }
    .pc_only{      
      display: none; 
    }  
    .mob_only{
      display: inline-block; 
    }
       
  } 
        
  @media only screen and (max-width: 280px){
    html, body {
        font-size: 12px;
    } 
  }    
               
                                   
                           