.sub{
    header{
        .user-menu{
            a{
                &::after{
                    display: none !important;
                }
            }
        }
    }
    section{
        min-height:calc(100vh - 22.5rem);
        padding:0 0 6.25rem;
        background-color: $bg-color;        
        ul{
            li{
                display: inline-block;
            }
        }
        .sub-title{            
            h2{
                padding: 2.813rem 0 1.875rem
                ;
                font-size: 1.5rem;
                font-family: 'NotoSansB';
            }
        }
        .sub-cnt-box{
            padding: 1.25rem;
            border-radius: 20px;
            box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.05);
            background-color: #fff;
        }
        &.graph{
            .graph-area{
                overflow: hidden;
                border-radius: 10px;
                border: 1px solid $border-color;
                .ga-top{
                    border-radius: 10px 10px 0 0 ;
                    background-color:$bg-color;
                    border-bottom: 1px solid $border-color;
                    .ga-detail{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 1rem;
                        label{
                            font-size: 0.813rem;
                        }
                        button{
                            display: inline-block;
                            padding: 5px 1rem;
                            background-color: #fff;
                            border-radius: 20px;
                            font-size: 0.75rem;
                            &.on{
                                background-color: #ffcd2a;
                                color: #fff;
                            }
                        }
                        .ga-cal{ 
                            height: 1.563rem;
                            padding: 2px 0 5px;
                            background-color: #fff;
                            border-radius: 20px;
                            box-sizing: border-box;
                            input[type="date"]{    
                                position: relative; 
                                display: inline-block;  
                                margin-left: 0.5rem; 
                                font-size: 0.75rem;
                                border: none;
                                font-family: 'NotoSansR';
                                &::-webkit-calendar-picker-indicator { 
                                 background: transparent;
                                 position: absolute;     
                                 top: 0;
                                 left: 0%;
                                 width: 100%;
                                 height: 0.938rem;
                                 z-index: 1;
                                 cursor: pointer;
                                } 
                                &:nth-of-type(1){                   
                                    padding: 0 0 0 1.25rem;
                                    margin-left: 1rem; 
                                    @include beforeI($w:0.938rem, $h:0.938rem){
                                        position: absolute;
                                        top: 0.1rem;
                                        left:0;
                                        margin: 0px 5px 0 0;
                                        background-image: url(../image/icon_calendar.png);
                                    }
                                }
                                
                            }
                            button{
                                background-color: #ffcd2a;
                                color: #fff;
                                font-size: 0.75rem;
                            }
                        }
                    }
                    .ga-graph{
                        padding: 2rem 0;
                        text-align: center;
                        
                        &:hover .txt{
                            display: block;
                        }
                        .txt{
                            display: none;
                            position: absolute;
                            top: 15%;
                            left: 46%;
                            padding: 0.5rem 0.8rem;
                            border-radius: 0.5rem;
                            background-color: #fff;
                            box-shadow: 0px 0px 0.313rem 0.313rem rgba(0,0,0,0.16);
                            font-size: 0.75rem;
                            text-align: center;
                            z-index: 10;
                            font-family: 'NotoSansM';
                            span{
                                font-size: 0.625rem;
                            }
                            @include beforeI($w:0px,$h:0px){
                                position: absolute;
                                bottom: -0.438rem;
                                left: 50%;
                                transform: translate(-50%,0);
                                border-top: 9px solid #fff;
                                border-right: 9px solid transparent;
                                border-left: 9px solid transparent;
                            }
                        }
                    }
                }
                .ga-info{
                    ul{
                        li{
                            position: relative;
                            width: calc(50% - 3px);
                            line-height: 3.1;
                            text-align: center;
                            font-size:0.875rem;
                            @include beforeI($w:0.5rem,$h:0.5rem){
                                background-color: #292929;
                                margin: 0 10px 5px 0;
                            }
                            span{
                                display: inline-block;
                                min-width: 6rem;
                                text-align: center;
                                vertical-align: middle;
                            }
                            &:nth-child(1){
                                span{
                                    color: $main-color;
                                    font-size: 1.25rem;
                                    font-family: 'NotoSansB';
                                }
                                @include afterI($w:1px, $h:2.813rem){
                                    position: absolute;
                                    top: 0.5rem;
                                    right: 0;
                                    background-color: $border-color;
                                }
                            }
                        }
                    }
                }
            }
            .list-area{
                .la-top{
                    .la-detail{                        
                        .ld-btn-area{
                            padding:0.5rem;
                            background-color: #f2f4f6;
                            border-radius: 10px;
                            overflow: hidden;
                            button{
                                display: inline-block;
                                padding: 5px 0 5px 1rem;
                                font-size: 0.75rem;
                                &.on{
                                   color: #ffcd2a
                                }
                                @include afterI($w:1px,$h:1.125rem){
                                   background-color: #ddd;
                                   margin: -2px 0 0 1rem;
                                }
                                &:nth-child(4){
                                    &::after{
                                        display: none;
                                    }
                                }
                            }
                            .la-cal{ 
                                float: right;
                                padding: 0;
                                background-color: #fff;
                                border-radius: 6px;
                                input[type="date"]{    
                                    position: relative; 
                                    display: inline-block;  
                                    margin-left: 0.5rem; 
                                    font-size: 0.75rem;
                                    border: none;
                                    font-family: 'NotoSansR';
                                    &::-webkit-calendar-picker-indicator { 
                                     background: transparent;
                                     position: absolute;     
                                     top: 0;
                                     left: 0%;
                                     width: 100%;
                                     height: 0.938rem;
                                     z-index: 1;
                                     cursor: pointer;
                                    }  
                                    &:nth-of-type(1){                   
                                        padding: 0 0 0 1.25rem;
                                        margin-left: 1rem; 
                                        @include beforeI($w:0.938rem, $h:0.938rem){
                                            position: absolute;
                                            top: 0.1rem;
                                            left:0;
                                            margin: 0px 5px 0 0;
                                            background-image: url(../image/icon_calendar.png);
                                        }
                                    }
                                    
                                }
                                button{
                                    padding: 0.5rem 1.25rem;
                                    color: #fff;
                                    font-size: 0.638rem;
                                    background-color: #292929;
                                    border-radius: 0 6px 6px 0;
                                    &::after{
                                        display: none;
                                    }
                                }
                            }

                            
                        }
                    }
                }
                .la-graph{
                    position: relative;
                    min-height: 650px;
                    padding: 4rem 2rem ;
                    background-image: url(../image/sub_graph_list_bg.png);
                    background-repeat: no-repeat;
                    background-position: left -1.15rem top 0;
                    background-size: 103% auto;
                    .lg-info{
                        position: relative;
                        height: 3.25rem;
                        @include afterI($w:100%, $h:1px){
                            position: absolute;
                            bottom: 8px;
                            left: 0;
                            background-color: #ddd;
                            z-index: 1;
                        }
                        .lg-tab{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            z-index: 2;
                            li{ 
                                padding: 0.8rem 2.5rem; 
                                color: #aaa;
                                font-size: 0.75rem;
                                box-sizing: border-box;
                                cursor: pointer;
                                &.on{
                                    border-top: 1px solid #ddd; 
                                    border-left: 1px solid #ddd;
                                    border-right: 1px solid #ddd;
                                    border-bottom: 1px solid #fff;
                                    color: #292929;
                                    background-color: #fff;
                                }
                            } 
                        } 
                        >div{
                            position: absolute;
                            bottom: 1rem;
                            right: 0;
                            z-index: 12;  
                        }
                    }   
                    .lg-tabbox{
                        display: none;
                        &.on{
                            display: block;
                            height: 600px;
                            overflow: hidden;
                            overflow-y: auto;
                             &::-webkit-scrollbar {
                                width: 5px;
                              }
                              &::-webkit-scrollbar-thumb {
                                background-color: #6d6d6d;
                                border-radius: 5px;
                              }
                              &::-webkit-scrollbar-track {
                                background-color: #bebebe;
                                border-radius: 5px;
                              }
                        }
                        .lg-list{
                            width: 100%;
                            >li{
                                display: block;
                                padding: 1rem 0 ;
                                border-bottom: 1px solid #f2f4f6;
                                >span{
                                    display: block;
                                    padding: 0.2rem 1rem;
                                    background-color: $bg-color;
                                    font-size: 0.75rem;
                                }
                                ul{
                                    li{
                                        display: block;
                                        padding: 1rem 1rem;
                                        >span{
                                            display: flex;
                                            justify-content: space-between;
                                            width: 100%;
                                            font-size: 0.938rem;
                                            box-sizing: border-box;
                                            span{
                                                &.point{
                                                    margin-bottom: 0.5rem;
                                                    font-size: 1.25rem;
                                                    font-family: 'NotoSansB';
                                                    &.plus{
                                                        color: $main-color;
                                                        &::before{
                                                            content: '+';
                                                            display: inline-block;
                                                            margin: 0 5px 0 0;
                                                        }
                                                    }
                                                    &.minus{
                                                        color: #fc6b6b;
                                                        &::before{
                                                            content: '-';
                                                            display: inline-block;
                                                            margin: 0 5px 0 0;
                                                        }
                                                    }
                                                }
                                                &.time{
                                                    font-size: 0.8rem;
                                                    color: #aaa;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                }

                
                .paging_wrap{
                    padding: 0 0 1rem;
                    text-align: center;
                    button{
                        width: 1.75rem;
                        height: 1.75rem;
                        border-radius: 50%;
                        vertical-align: middle;
                        background-color:transparent;
                        font-size: 0.813rem;
                        &.on{
                            color: #fff;
                            background-color: $main-color;
                        }
                        &.paging_move {
                            width: auto;
                            &.paging_previous{
                                @include beforeI($w:0.5rem,$h:0.638rem){
                                    background-image: url(../image/icon_paging_left.png);
                                    margin: -1px 4px 0 0;
                                }
                                @include afterI($w:1px,$h:0.875rem){
                                    background-color: #eaeaea;
                                    margin: 0 0.5rem 0 0.75rem ;
                                }
                            }
                            &.paging_next{
                                @include beforeI($w:1px,$h:0.875rem){
                                    background-color: #eaeaea;
                                    margin: 0 0.75rem 0 0.5rem ;
                                }
                                @include afterI($w:0.5rem,$h:0.638rem){
                                    background-image: url(../image/icon_paging_right.png);
                                    margin: -1px 0 0 4px ;
                                }
                            }
                        }
                    }
                }  

            }



        }
         
        &.pointuse{
            .sub-cnt-box{
                padding:3.125rem;
            }
            ul{
                border-radius: 22px;
                border: 1px solid #e5e9ec;
                overflow: hidden;
                li{
                    display: block;
                    float: left;
                    width: calc(16.667% - 2px);
                    margin: 0 0 0 0;
                    border: 1px solid #e5e9ec;
                    text-align: center;
                    &:hover{    
                        border:1px solid $main-color;
                        box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.05);
                    }
                    &:nth-child(1){
                        border-radius: 20px 0 0 0;
                    }                    
                    &:nth-child(6){
                        border-radius: 0 20px 0 0;
                    }                
                    &:nth-child(7){
                        border-radius: 0 0 0 20px;
                    }                
                    &:nth-child(12){
                        border-radius: 0 0 20px 0;
                    }
                    a{ 
                        display: inline-block;
                        padding: 1rem 0;
                        font-family: 'NotoSansB';
                        @include beforeI($w:8.313rem,$h:5.313rem){
                            display: block;
                            margin: 0 0 0.5rem;
                        }
                    }
                    @for $i from 1 to 13{
                        &:nth-child(#{$i}){
                            a{
                                &::before{
                                    background-image: url(../image/icon_use_0#{$i}.png);
                                }
                            }
                        }
                    }
                }
            }
        }
        &.point{
            .sub-cnt-box{
                padding: 1.875rem;
            }
              ul{
                overflow: hidden;
                li {
                    position: relative;
                    width: 13.75rem;
                    height: 13.75rem  ;
                    margin: 0 0 1.25rem 1.25rem;
                    background-color: $bg-color;
                    border-radius: 15px;
                    background-position: center bottom;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    vertical-align: top; 
                    a{
                        display: block;
                        height: 100%;
                        padding: 2.188rem 1.25rem;
                        font-size: 1rem;
                        box-sizing: border-box;
                        b{
                            display: block;
                            margin-top: 1rem;
                            font-size: 1.25rem;
                            font-family: 'NotoSansB';                        
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2; 
                            -webkit-box-orient: vertical;
                            word-wrap:break-word; 
                            line-height: 1.2em;
                            height: 2.4em;
                            &:nth-of-type(2){
                                text-align: right;
                            }
                        }
                    }
                    &:hover{
                        box-shadow: 2px 5px 5px 3px rgba(0,0,0,0.16);
                    }
                    &:nth-child(5n+1){
                        margin-left: 0;
                    }
                    &:nth-child(6n + 1){
                        background-image: url(../image/img_bar_01.png);
                        a{
                            b{
                                color: #8d4cbf;
                            }
                        }
                    }
                    &:nth-child(6n + 2){
                        background-image: url(../image/img_bar_02.png);
                        a{
                            b{
                                color: #4cbbbf;
                            }
                        }
                    }
                    &:nth-child(6n + 3){
                        background-image: url(../image/img_bar_03.png);
                        a{
                            b{
                                color: #bf4c4c;
                            }
                        }
                    }
                    &:nth-child(6n + 4){
                        background-image: url(../image/img_bar_04.png);
                        a{
                            b{
                                color: #4cbf6b;
                            }
                        }
                    }
                    &:nth-child(6n + 5){
                        background-image: url(../image/img_bar_05.png);
                        a{
                            b{
                                color: #e2cf21;
                            }
                        }
                    }
                    &:nth-child(6n){
                        background-image: url(../image/img_bar_06.png);
                        a{
                            b{
                                color: #4c63bf;
                            }
                        }
                    }
                    &.p_new{
                        @include beforeI($w:5rem,$h:5rem){
                            position: absolute;
                            top: 0;
                            right: 0;
                            background-image: url(../image/img_mark_new.png);
                        }
                    }
                }
              }
        }
        &.store{
            ul{
                li{
                    margin:0 1.5rem 3rem 5px;
                    &:nth-child(7n){
                        margin-right: 0;
                    }
                    a{
                        display: block;
                        font-family: 'NotoSansB';
                        text-align: center;
                        span{
                            position: relative;
                            display: block;
                            width: 9.375rem;
                            height: 9.375rem;
                            margin: 0 auto 0.5rem;
                            border-radius: 50%;
                            box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.05);
                            transition: all 0.4s ease-in-out;
                            overflow: hidden;
                            box-sizing: border-box;
                            img{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                display: block;
                                width: 11.25rem;
                                height: 11.25rem;
                                transition: width 0.3s, height 0.3s;
                            }
                        }
                        &:hover{
                            img{
                                width: 11.875rem;
                                height: 11.875rem;
                            }
                        }
                    }
                    
                }
            }
        }

    }
} 


/*타블렛*/
@media only screen and (max-width: 1260px) and (min-width: 769px){
.sub{
    section{
        &.graph{
            .graph-area {
                .ga-top{
                    .ga-detail{
                        display: block;
                        >span{                            
                            padding: 0 0 0.8rem ;
                        }
                        .gd-btn-area{
                            float: right;
                            display: inline-block;
                            text-align: right;
                        }
                    }
                    .ga-graph{
                        clear: both;
                        padding:1rem 0;
                        img{
                            width: 95%;
                        }
                    }
                }
            }
            .list-area{
                .la-graph{
                    background-size: 100% 100%;
                    background-position: left top;
                }
            }
        }
        &.pointuse{
            ul {
                li {
                    a{
                        width: 100%;
                        &::before{
                            width: 100%;
                        }
                    }
                }
            }
        }
        &.point{
            .sub-cnt-box{
                padding: 1.875rem 0 1.875rem 1.875rem ;
            }
            ul{
                li{
                    margin: 0 1.25rem 1.25rem 0 !important;
                }
            }
        }
        &.store {
            ul{
                li{
                    margin: 0 1.25rem 1.25rem 0 !important;
                }
            }
        }
    }
} 

}



/*모바일*/
.sub.uni-mob{
    header{
        .user-menu{
            a{
                &::after{
                    display: none !important;
                }
            }
        }
    }
    section{
        min-height:calc(100vh - 22.5rem);
        padding:0 0 1.25rem;
        background-color: #fff;;
        ul{
            li{
                display: inline-block;
            }
        }
        .sub-title{       
            padding: 2rem 0 0.5rem;
            border-bottom: 1px solid #ddd;
            h2{
                font-size: 1rem;
                font-family: 'NotoSansB';
                padding: 0;
                @include beforeI(){   
                    width: 1.68rem;
                    height: 1.68rem;
                    margin: -5px 0.3rem 0 0;
                    background-size: 100% auto;
                }
            }
            &.st-graph{
                h2::before{
                    background-image: url(../image/icon_title_02.svg);
                }
            }
            &.st-graph2{
                h2::before{
                    background-image: url(../image/icon_title_06.svg);
                }
            }
            &.st-pointuse{
                h2::before{
                    background-image: url(../image/icon_title_03.svg);
                }
            }
            &.st-point{
                h2::before{
                    background-image: url(../image/icon_title_04.svg);
                }
            }
            &.st-store{
                h2::before{
                    background-image: url(../image/icon_title_05.svg);
                }
            }
        }
        
        .sub-cnt-box{
            padding: 0rem;
            border-radius: 0px;
            box-shadow:none;
            background-color: transparent;
        }
        &.graph{ 
            >.bb{
                padding-bottom: 2rem;
                border-bottom: 1px solid #ddd;
            }
            >.bt{                
                border-top: 0.938rem solid #eeeeee;
            }
            .graph-area{
                height: auto;
                border:none;
                .ga-top{
                    margin-bottom: 0.5rem;
                    background-color: transparent;
                    border: none;
                    .ga-detail{
                        display: block;
                        padding: 0;
                        label{
                            display: block;
                            padding: 1rem 0.5rem 0.8rem 0;
                            text-align: right;
                            font-size: 0.813rem;
                            &::before{
                                margin-right: 0.2rem;
                                background-color: $bg-color;
                                background-size: 100%;
                            }
                        }
                        button{
                            float: left;
                            display: block;
                            width: 4.75rem;
                            padding: 0.5rem 0rem;
                            box-sizing: border-box;
                            margin: 0 0 0 0.4rem;
                            background-color: #fff;
                            border: 1px solid #c9c9c9;
                            border-radius: 0.3rem;
                            text-align: center;
                            color: #777;
                            font-size: 0.75rem;
                            &:first-child{
                                margin-left: 0;
                            }
                            &.on{
                                border: 1px solid $main-color;
                                background-color: #fff;
                                color: $main-color;
                            }
                        }
                        .ga-cal{
                            clear: both;
                            display: block;
                            width: 100%;
                            height: auto;
                            padding: 0.8rem 0;
                            background-color: #fff;
                            border-radius: 20px;
                            box-sizing: border-box;
                            input[type="date"]{     
                                position: relative; 
                                display: inline-block;  
                                width: 5.35rem;
                                padding: 0 0 0.5rem 1.25rem;
                                margin:0 0.5rem 0 0.75rem; 
                                border: none;
                                border-bottom: 1px solid $border-color;
                                text-align: center;
                                font-size: 0.75rem;
                                font-family: 'NotoSansR';
                                &::-webkit-calendar-picker-indicator { 
                                 background: transparent;
                                 position: absolute;     
                                 top: 0;
                                 left: 0%;
                                 width: 100%;
                                 height: 0.938rem;
                                 z-index: 1;
                                 cursor: pointer;
                                } 
                                @include beforeI($w:0.938rem, $h:0.938rem){
                                    position: absolute;
                                    top: 0.1rem;
                                    left:0.5rem;
                                    margin: 0px 5px 0 0;
                                    background-image: url(../image/icon_calendar.svg);
                                    background-size: 100% auto;
                                }
                            }
                            input[type="date"]:nth-of-type(1){
                                margin-left: 0;
                            }
                            button{
                                display: inline-block;
                                float: none;
                                width: 4.75rem;
                                padding: 0.55rem 0rem;
                                margin-left: 0;
                                border: 1px solid #292929;
                                background-color: #292929;
                                color: #fff;
                                font-size: 0.75rem;
                                text-align: center;
                                box-sizing: border-box;
                            }
                        }
                    }
                    .ga-graph{
                        height:auto;
                        padding: 0;
                        background-color: #f2f4f6;
                        border-radius: 0.938rem;
                        text-align: center;
                        line-height: 1;
                        img{
                         padding: 2rem 0 1.5rem;
                         width: 90%;
                        }
                        .txt{
                            display: none !important;
                        }
                    }
                }
                .ga-info{
                    ul{
                        li{
                            position: relative;
                            width: 100%;
                            padding: 0.2rem 1rem;
                            border: 1px solid $border-color;
                            border-radius: 0.5rem;
                            text-align: left;
                            box-sizing: border-box;
                            overflow: hidden;
                            font-size:0.875rem;
                            line-height: 3.1;
                            &::before,&::after{
                                display: none !important;
                            }
                            span{
                                display: inline-block;
                                min-width: 6rem;
                                float: right;
                                padding: 0.8rem 0 0;
                                line-height: 1;
                                text-align: right;
                                vertical-align: middle;
                            }
                            &:nth-child(1){
                                span{
                                    color: $main-color;
                                    font-size: 1.25rem;
                                    font-family: 'NotoSansB';
                                }
                                @include afterI($w:1px, $h:2.813rem){
                                    position: absolute;
                                    top: 0.5rem;
                                    right: 0;
                                    background-color: $border-color;
                                }
                            }
                        }
                    }
                }
            }
            
            .list-area{
            
              .la-top{
                .la-detail{
                    padding: 1rem 0 0;
                    .ld-btn-area{                     
                        padding: 0;   
                        background-color: transparent;
                        border-radius: 0;
                    }
                    button{
                        float: left;
                        display: block;
                        width: 4.75rem;
                        padding: 0.5rem 0rem;
                        box-sizing: border-box;
                        margin: 0 0 0 0.4rem;
                        background-color: #fff;
                        border: 1px solid #c9c9c9;
                        border-radius: 0.3rem;
                        text-align: center;
                        color: #777;
                        font-size: 0.75rem;
                        &:first-child{
                            margin-left: 0;
                        }
                        &.on{
                            border: 1px solid $main-color;
                            background-color: #fff;
                            color: $main-color;
                        }
                        &::after{
                            display: none;
                        }
                    }
                    .la-cal{
                        clear: both;
                        display: block;
                        width: 100%;
                        height: auto;
                        padding: 0.8rem 0;
                        background-color: #fff;
                        border-radius: 20px;
                        box-sizing: border-box;
                        input[type="date"]{     
                            position: relative; 
                            display: inline-block;  
                            width: 5.35rem;
                            padding: 0 0 0.5rem 1.25rem;
                            margin:0 0.5rem 0 0.75rem; 
                            border: none;
                            border-bottom: 1px solid $border-color;
                            text-align: center;
                            font-size: 0.75rem;
                            font-family: 'NotoSansR';
                            &::-webkit-calendar-picker-indicator { 
                             background: transparent;
                             position: absolute;     
                             top: 0;
                             left: 0%;
                             width: 100%;
                             height: 0.938rem;
                             z-index: 1;
                             cursor: pointer;
                            } 
                            @include beforeI($w:0.938rem, $h:0.938rem){
                                position: absolute;
                                top: 0.1rem;
                                left:0.5rem;
                                margin: 0px 5px 0 0;
                                background-image: url(../image/icon_calendar.svg);
                                background-size: 100% auto;
                            }
                        }
                        input[type="date"]:nth-of-type(1){
                            margin-left: 0;
                            padding: 0 0 0.5rem 1.25rem;
                            &::before{
                                
                                background-image: url(../image/icon_calendar.svg);
                            }
                        }
                        button{
                            display: inline-block;
                            float: none;
                            width: 4.75rem;
                            padding: 0.55rem 0rem;
                            margin-left: 0;
                            border: 1px solid #292929;
                            background-color: #292929;
                            color: #fff;
                            font-size: 0.75rem;
                            text-align: center;
                            box-sizing: border-box;
                        }
                    }
                
                    }
                }
                .la-graph{
                    position: relative;
                    min-height: 650px;
                    padding: 0;
                    background-image: none;
                    .lg-info{
                        position: relative;
                        height: 3.25rem;
                        margin: 0.8rem 0 3rem;
                        @include afterI($w:100%, $h:1px){
                            position: absolute;
                            top: 2.55rem;
                            left: 0;
                            background-color: #ddd;
                            z-index: 1;
                        }
                        .lg-tab{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            z-index: 2;
                            li{ 
                                padding: 0.75rem 1.8rem; 
                                color: #aaa;
                                font-size: 0.75rem;
                                box-sizing: border-box;
                                background-color: transparent;
                                cursor: pointer;
                                &.on{
                                    background-color: #fff;
                                    border-top: 1px solid #ddd; 
                                    border-left: 1px solid #ddd;
                                    border-right: 1px solid #ddd;
                                    border-bottom: 1px solid #fff;
                                    color: #292929;
                                }
                            } 
                        } 
                        >div{
                            position: inherit;
                            bottom: auto;
                            padding:4rem 0 0;
                            text-align: right;
                            z-index: 0;
                        }
                    }
                       
                    .lg-tabbox{
                        display: none;
                        &.on{
                            display: block;
                            height: auto;
                        }
                        .lg-list{
                            width: 100%;
                            >li{
                                display: block;
                                padding: 1rem 0 ;
                                border-bottom: 1px solid #f2f4f6;
                                >span{
                                    display: block;
                                    padding: 0.5rem 1rem;
                                    background-color: $bg-color;
                                    font-size: 0.75rem;
                                }
                                ul{
                                    li{
                                        display: block;
                                        padding: 1rem 1rem;
                                        >span{
                                            display: flex;
                                            justify-content: space-between;
                                            width: 100%;
                                            font-size: 0.938rem;
                                            box-sizing: border-box;
                                            span{
                                                &.point{
                                                    margin-bottom: 0.5rem;
                                                    font-size: 1.25rem;
                                                    font-family: 'NotoSansB';
                                                    &.plus{
                                                        color: $main-color;
                                                        &::before{
                                                            content: '+';
                                                            display: inline-block;
                                                            margin: 0 5px 0 0;
                                                        }
                                                    }
                                                    &.minus{
                                                        color: #fc6b6b;
                                                        &::before{
                                                            content: '-';
                                                            display: inline-block;
                                                            margin: 0 5px 0 0;
                                                        }
                                                    }
                                                }
                                                &.time{
                                                    font-size: 0.8rem;
                                                    color: #aaa;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                }

                
                .paging_wrap{
                    padding: 1rem 0 0rem;
                    text-align: center;
                    button{
                        width: 1.75rem;
                        height: 1.75rem;
                        vertical-align: middle;
                        background-color:$bg-color;
                        font-size: 0.813rem;
                        border-radius: 0;
                        &.on{
                            color: $main-color;
                        }
                        &.paging_move {
                            @include txthide();
                            background-image: url(../image/icon_more_g.png);
                            background-repeat: no-repeat;
                            background-position: center;
                            &.paging_previous{
                                transform: rotate(180deg);
                            }
                        }
                    }
                }  

            }



        }
         
        &.pointuse{
            ul{
                overflow: hidden;
                border: none;
                li{
                    display: block;
                    float: left;
                    width: calc(25% - 2px);
                    margin: 0 0 0 0;
                    text-align: center;
                    border: none;
                    &:hover{
                        box-shadow: none;
                    }
                    a{ 
                        display: block;
                        padding: 1rem 0;
                        font-size: 0.75rem;
                        font-family: 'NotoSansR';
                        @include beforeI($w:90% ,$h:4.5rem){
                            display: block;
                            margin: 0 auto 0.5rem;
                            border: 1px solid   #edf0f2;
                            border-radius: 0.8rem;
                            background-size: 70%;
                        }
                    }
                    @for $i from 1 to 13{
                        &:nth-child(#{$i}){
                            a{
                                &::before{
                                    background-image: url(../image/icon_use_0#{$i}.png);
                                }
                            }
                        }
                    }
                }
            }
        }
        &.point{
              ul{
                height: 31.5rem;
                padding-top: 1.25rem;
                overflow: hidden;
                &.on{
                    height: auto;
                }
                li {
                    position: relative;
                    width: 100%;
                    height: 4.375rem  ;
                    margin: 0 0 0.65rem 0;
                    background-color: $bg-color;
                    border-radius: 15px;
                    background-image:none;
                    vertical-align: top; 
                    a{
                        display: block;
                        height: 100%;
                        padding: 1.125rem 0.938rem 0.938rem 0.938rem;
                        font-size:0.625rem;
                        box-sizing: border-box;
                        span{
                            display: block;
                            font-size:0.625rem;
                        }
                        b{
                            display: inline-block;
                            width: 80%;
                            margin-top: 0.3rem;
                            text-overflow:ellipsis;
                            white-space:nowrap;
                            word-wrap:normal;
                            font-size: 0.938rem;
                            font-family: 'NotoSansB';                        
                            overflow: hidden;
                            &:nth-of-type(2){
                                width:19%;
                                text-align: right;
                            }
                        }
                    }
                    &:nth-child(6n + 1){
                        border-bottom: 0.35rem solid #e8d8f3;
                        a{
                            b{
                                color: #8d4cbf;
                            }
                        }
                    }
                    &:nth-child(6n + 2){
                        border-bottom: 0.35rem solid #bedfe1;
                        a{
                            b{
                                color: #4cbbbf;
                            }
                        }
                    }
                    &:nth-child(6n + 3){
                        border-bottom: 0.35rem solid #dbcdcd;
                        a{
                            b{
                                color: #bf4c4c;
                            }
                        }
                    }
                    &:nth-child(6n + 4){
                        border-bottom: 0.35rem solid #c3e1cb;
                        a{
                            b{
                                color: #4cbf6b;
                            }
                        }
                    }
                    &:nth-child(6n + 5){
                        border-bottom: 0.35rem solid #ebe6bc;
                        a{
                            b{
                                color: #e2cf21;
                            }
                        }
                    }
                    &:nth-child(6n){
                        border-bottom: 0.35rem solid #bed3e1;
                        a{
                            b{
                                color: #4c63bf;
                            }
                        }
                    }
                    &.p_new{
                        @include beforeI($w:3.5rem,$h:3.5rem){
                            position: absolute;
                            top: 0;
                            right: 0;
                            background-image: url(../image/img_mark_new.png);
                            background-size: 100% auto;
                        }
                    }
                }
              }
              .ul_on_btn{
                display: block;
                width: 100%;
                padding: 1rem 0 0 ;
                margin-top: 1rem;
                border-top: 1px solid $border-color;
                color: $main-color;
                font-size: 0.75rem;
                cursor: pointer;
                @include afterI($w:0.5rem,$h:0.3rem){
                    margin: -3px 0 0 0.5rem;
                    background-image: url(../image/icon_open.svg);
                    background-size: 100% auto;
                }
                span:nth-child(2){
                    display: none;
                }
                &.on{
                    &::after{
                        transform: rotate(180deg);
                    }
                    span:nth-child(1){
                        display: none;
                    }
                    span:nth-child(2){
                        display: inline-block;
                    }
                }
              }
        }
        &.store{
            ul{
                margin-top: 2rem;
                text-align: center;
                li{
                    margin:0 0.5rem 1.1rem 5px;
                    &:nth-child(4n){
                        margin-right: 0;
                    }
                    a{
                        display: block;
                        font-size: 0.75rem;
                        text-align: center;
                        font-family: 'NotoSansR';
                        span{
                            position: relative;
                            display: block;
                            width: 4.1rem;
                            height: 4.1rem;
                            margin: 0 auto 0.5rem;
                            border-radius: 50%;
                            box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.05);
                            transition: all 0.4s ease-in-out;
                            overflow: hidden;
                            box-sizing: border-box;
                            img{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                display: block;
                                width: 120%;
                                height:  120%;
                            }
                        }
                    }
                    
                }
            }
        }

    }
} 